<mat-list>
  <mat-list-item (click)="home()">
    <mat-icon mat-list-icon>home</mat-icon>
    <h4 mat-line>Home</h4>
  </mat-list-item>

  <mat-list-item *ngIf="userService.user" (click)="posts()">
    <mat-icon mat-list-icon>contacts</mat-icon>
    <h4 mat-line>My Posts</h4>
  </mat-list-item>

  <mat-list-item *ngIf="userService.user" (click)="profile()">
    <mat-icon mat-list-icon>contacts</mat-icon>
    <h4 mat-line>My Profile</h4>
  </mat-list-item>

  <mat-list-item *ngIf="!userService.user" (click)="userService.openLoginForm()">
    <mat-icon mat-list-icon>lock</mat-icon>
    <h4 mat-line>login</h4>
  </mat-list-item>

  <mat-list-item *ngIf="!userService.user" (click)="userService.openRegisterForm()">
    <mat-icon mat-list-icon>lock</mat-icon>
    <h4 mat-line>Register</h4>
  </mat-list-item>

  <mat-list-item *ngIf="userService.user" (click)="logout()">
    <mat-icon mat-list-icon>lock</mat-icon>
    <h4 mat-line>Logout</h4>
  </mat-list-item>

  <mat-divider></mat-divider>
  <h3 mat-subheader>Droopers team</h3>
  <mat-list-item>Who we are</mat-list-item>
  <mat-list-item>Contact the team</mat-list-item>
  <mat-list-item>Advertise on droopers</mat-list-item>
</mat-list>
