<md-list>
  <md-list-item>
    <md-icon md-list-icon>home</md-icon>
    <h4 md-line>Home</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>contacts</md-icon>
    <h4 md-line>My Profile</h4>
  </md-list-item>
  <md-list-item>
    <md-icon md-list-icon>lock</md-icon>
    <h4 md-line>Logout</h4>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Droopers team</h3>
  <md-list-item>Who we are</md-list-item>
  <md-list-item>Contact the team</md-list-item>
  <md-list-item>Advertise on droopers</md-list-item>
</md-list>
