.container{
  position: relative;
  margin: 24px 25%;
  height: 100%;
}

.car{
  display: block;
  width: 100%;
  margin: 0 auto;
}

.condition{
  position: absolute;
  display: inline-block;
  border-radius: 99px;
  color: #FFF;
  background: #5C0000;

  mat-icon{
    width: 24px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    padding: 8px;
  }

  .check{
    display: none;
  }

  .error{
    display: block;
  }

  &.active{
    background: #4CAF50;

    .check{
      display: block;
    }

    .error{
      display: none;
    }
  }

  &.topLeft{
    top: 16px;
    left: 16px;
  }

  &.topRight{
    top: 16px;
    right: 16px;
  }

  &.bottomLeft{
    bottom: 16px;
    left: 16px;
  }

  &.bottomRight{
    bottom: 16px;
    right: 16px;
  }
}

.text{
  text-align: center;
  font-size: 18px;
}

.report{
  display: block;
  width: 100%;
  height: 150px;
  margin-top: 16px;
  background: url(/assets/images/picture.svg) center center no-repeat;
  background-size: 50% 50%;

  &.border{
    border: 2px dashed #CCC;
  }

  .content{
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  input[type="file"]{
    display: none;
  }
}
