mat-list{
  mat-list-item{
    border-bottom: 1px solid #EEE;

    mat-checkbox{
      display: block;
      width: 100%;
    }

    input, span{
      display: block;
      width: 100%;
      font-size: 14px;
      margin-left: 24px;
      outline: none !important;
      border: none !important;
      background: transparent !important;

      &:focus{
        outline: none;
      }
    }
  }
}
