nav{
  position: absolute;
  top: 0;
  left: 0;
}

md-grid-list{
  margin: 5px 0;

  md-grid-tile{
    border-bottom: 1px solid #CCC;

    a, p{
      display: block;
      padding: 5px;
      margin: 0;
      color: #333;
    }
  }
}
