<form (submit)="onSubmit($event)" [formGroup]="formGroup"  class="form">
  <div class="input-container" [ngClass]="nameCheck">
    <input type="text"
           name="name"
           placeholder="Display Name"
           formControlName="name"
           >
    <div class="icon" [ngSwitch]="nameCheck">
      <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>
      <mat-icon *ngSwitchCase="'avaliable'">check_circle</mat-icon>
      <mat-icon *ngSwitchCase="'not-avaliable'">error</mat-icon>
      <mat-icon *ngSwitchCase="'error'">error</mat-icon>
    </div>
  </div>
  <div class="input-container" [ngClass]="emailCheck">
    <input type="email"
           name="email"
           placeholder="Email"
           formControlName="email">
    <div class="icon" [ngSwitch]="emailCheck">
      <mat-spinner *ngSwitchCase="'loading'"></mat-spinner>
      <mat-icon *ngSwitchCase="'avaliable'">check_circle</mat-icon>
      <mat-icon *ngSwitchCase="'not-avaliable'">error</mat-icon>
      <mat-icon *ngSwitchCase="'error'">error</mat-icon>
    </div>
  </div>
  <div class="input-container two">
    <div>
      <input type="password"
             name="password"
             placeholder="Password"
             formControlName="password">
    </div>
    <div>
      <input type="password"
             name="password_confirmation"
             placeholder="Confirm Password"
             formControlName="password_confirmation">
    </div>
  </div>
  <div class="input-container">
    <input type="phone"
           name="phone"
           placeholder="Phone Number"
           formControlName="phone">
  </div>
  <button [disabled]="!formGroup.valid" mat-raised-button class="primary">Register</button>
</form>
