.logo{
  display: block;
  text-align: center;
  height: 40px;
  margin: 24px auto;

  img{
    width: auto;
    height: 100%;
  }
}

.menu-link{
  position: absolute;
  top: 28px;
  left: 16px;
  color: #333;

  md-icon{
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
}

.add-link{
  position: absolute;
  top: 28px;
  right: 16px;
  color: #333;

  md-icon{
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
}
