.model{
  padding: 20px;
  border-bottom: 1px solid #EEE;
}

md-grid-list{
  padding-top: 5px;

  md-grid-tile{
    background: #F7F7F7;
    color: #666;

    &.active{
      background: #DDD;
    }
  }
}
