.model{
  padding: 20px;
  border-bottom: 1px solid #EEE;
}

mat-grid-list{
  padding-top: 5px;

  mat-grid-tile{
    background: #F7F7F7;
    color: #666;

    div{
      padding: 5px;
      text-align: center;
      line-height: 1.5;
    }

    &.active{
      background: #DDD;
    }
  }
}
