<md-card class="post" md-ink-ripple="#333">
  <md-card-header>
    <img md-card-avatar [src]="post.user.image" alt="">
    <md-card-title class="name">{{ post.user.name }}</md-card-title>
    <md-card-subtitle>{{ post.updated_at | fromNow }}</md-card-subtitle>
  </md-card-header>
  <img md-card-image [src]="post.image" alt="">
  <md-card-content>
    <h3 class="title">{{ post.year }} {{ post.make }} {{ post.model }} - <span class="price">{{ post.price | currency:'JD' }}</span></h3>
    <h4 class="location">{{ post.city }}, {{ post.country }}</h4>
  </md-card-content>
</md-card>
